*
!*/
#  ────────────────────────────────────────────────────────────────────
!/sdk/**/*.go
!/api/**/*.go
!/cmd/**/*.go
!/pkg/**/*.go
!/lib/**/*.go
!/internal/**/*.go
!/build/**
#  ────────────────────────────────────────────────────────────────────
!/**/.gitkeep
#  ────────────────────────────────────────────────────────────────────
!/.vscode/**
!/.devcontainer/**
!/.github/**/*.md
!/.github/**/*.yml
!/.gp/**
#  ────────────────────────────────────────────────────────────────────
!/proto/**
!/contrib/**
!/fixtures/**
!/assets/**
!/test/**
!/tools/**
!/docs/**
!/examples/**
#  ────────────────────────────────────────────────────────────────────
!.editorconfig
!.gitignore
!.dockerignore
!.gitpod.yml
!.golangci.yml
!.markdownlintignore
!.revive.toml
!.stignore
!.versionrc
!LICENSE
!README.md
!commitlint.config.js
!contrib
!go.mod
!go.sum
!tools.go
!Justfile
!.pre-commit-config.yaml
!.go-version
